# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
build

# Environment
.env
.env.local
.env.production

# Turbo
.turbo

# Supabase
supabase/.temp

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
.vercel
